[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
