[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/vim/bundle/rust.vim"]
	path = vim/vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/vim/bundle/calendar.vim"]
	path = vim/vim/bundle/calendar.vim
	url = git@github.com:itchyny/calendar.vim.git
